<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s8 offset-s2">
    <h1>Books</h1>
    <% if user_signed_in? %>
    <%= link_to 'New Book', new_book_path %>
    <% else %>
    <% end %>
      <% @books.each do |book| %>
        <div class="card">
          <div class="card-image">
            <%= image_tag book.image %>
          </div>
          <div class="card-action">
            <p> <%= book.name %> by <%= book.author %></p>
          </div>
          <div class="card-action">
            <p><%= rating_for book, 'rating', disable_after_rate: true %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<br>


</div>
