<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image.thumb.url %>
</p>

<p>
  <strong>Rating:</strong>
  <%= rating_for @book, 'rating', disable_after_rate: true %>
</p>

<% if current_user.try(:admin?) %>

<%= link_to 'Edit', edit_book_path(@book) %> |

<% else %>
<% end %>
<%= link_to 'Back', books_path %>
